[submodule "system"]
	path = system
    url = https://github.com/WordPress/WordPress.git
    branch = 3.9
[submodule "capistrano"]
        path = capistrano
        url = git@gitlab.rippleffect.com:rippleffect/capistrano.git

